extends layout

block content
  h1= __('confirm')

  form(method='POST', action='/confirm')
    table  
      tr
        td= __('name')
        td #{name}
      tr
        td= __('belong') 
        td #{belong}
      tr
        td= __('tel')
        td #{tel}
      tr 
        td= __('email')
        td #{email}
    input(type='hidden', name='name', value='#{name}')
    input(type='hidden', name='belong', value='#{belong}')
    input(type='hidden', name='tel', value='#{tel}')
    input(type='hidden', name='email', value='#{email}')
    input(type='submit', id='regist', value="#{__('add')}")
  
