extends layout

block content
  h1= __('common.confirm')

  form(method='POST', action='/confirm')
    table  
      tr
        td= __('label.name')
        td #{name}
      tr
        td= __('label.belong') 
        td #{belong}
      tr
        td= __('label.tel')
        td #{tel}
      tr 
        td= __('label.email')
        td #{email}
    input(type='hidden', name='name', value='#{name}')
    input(type='hidden', name='belong', value='#{belong}')
    input(type='hidden', name='tel', value='#{tel}')
    input(type='hidden', name='email', value='#{email}')
    input(type='submit', id='regist', value="#{__('common.add')}")
  input(type='button', class='btn', id='return', onclick='returnRegist()', value="#{__('common.return')}")
  
