extends layout

block content
  h1= __('regist')

  form(method='POST', action='/regist')
    table
      tr
        td= __('name')
        td
          input(type='textbox', name='name')
      tr
        td= __('belong')  
        td
          input(type='textbox', name='belong')
      tr
        td= __('tel')
        td 
          input(type='textbox', name='tel')
      tr 
        td= __('email')
        td
          input(type='textbox', name='email')
    input(type='submit', id='send', value="#{__('confirm')}")
